
@model entityFrameworkProyect.Models.Label
@{
    ViewData["Title"] = "Crear etiqueta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center">Crear una nueva etiqueta</h3>
<form method="post" asp-action="Edit">

    <!--Importante para editar-->
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="Titulo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label asp-for="Date"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>


        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <a asp-action="Index">Volver a lista</a>
        </div>
        <div class="col-5 offset-4">
            <button type="submit" class="btn btn-primary form-control">Editar</button>
            &nbsp;
        </div>
    </div>
</form>



