@model entityFrameworkProyect.Models.Category
@{
    ViewData["Title"] = "Crear categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center">Crear una nueva categoría</h3>
<form method="post" asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="Active"></label>
                </div>
                <div class="col-8">
                    <p>
                        <input type="radio" asp-for="Active" value="false" />
                        Inactivo
                    </p>
                    <span asp-validation-for="Active" class="text-danger"></span>

                    <p>
                        <input type="radio" asp-for="Active" value="true" />
                        Activo
                    </p>
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="CreatedAt"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CreatedAt" class="form-control" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <a asp-action="Index">Volver a lista</a>
        </div>
        <div class="col-5 offset-4">
            <button type="submit" class="btn btn-primary form-control">Crear</button>
            &nbsp;
        </div>
    </div>
</form>



