

@model entityFrameworkProyect.ViewModels.ArticleCategoryViewModel
@{
    ViewData["Title"] = "Crear artículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center">Crear una nueva artículo</h3>
<form method="post" asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="Article.Titulo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Article.Titulo" class="form-control" />
                    <span asp-validation-for="Article.Titulo" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label asp-for="Article.Descripcion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Article.Descripcion" class="form-control" />
                    <span asp-validation-for="Article.Descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label asp-for="Article.Qualification"></label>
                </div>
                <div class="col-8">
                    <input type="range" asp-for="Article.Qualification" steps="0.01" min="0" max="5" class="form-control" />
                    <span asp-validation-for="Article.Qualification" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label asp-for="Article.Date"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Article.Date" class="form-control" />
                    <span asp-validation-for="Article.Date" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label asp-for="Article.Category"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(u => u.Article.CategoryId, Model.ListCategories, "--Lista de categorías--",
                    new { @class = "form-control" })
                    <span asp-validation-for="Article.CategoryId" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <a asp-action="Index">Volver a lista</a>
        </div>
        <div class="col-5 offset-4">
            <button type="submit" class="btn btn-primary form-control">Crear</button>
            &nbsp;
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}